.tasks,
.all-tasks,
.task-list,
.home-btn,
.task-links,
.headings,
.category-list,
.ingretients-tasks,
.img-gallery {
  list-style: none;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial";
  font-size: large;
  font-weight: bold;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-right: 25px;
    padding-left: 25px;
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.main-section {
  padding: 60px 0px;
}

@media screen and (min-width: 1200px) {
  .main-section {
    padding: 0px;
  }
}

.btn.task-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 30%;
  height: 50px;
  border: solid transparent;
  border-radius: 25px;
  padding: 10px 28px;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #19b105;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn.task-links:hover, .btn.task-links:focus {
  cursor: pointer;
  background-color: rgba(80, 230, 113, 0.514);
  color: #001aff;
}

@media screen and (min-width: 1200px) {
  .btn.task-links {
    width: 50%;
  }
}

.hero-title {
  text-align: center;
  text-transform: uppercase;
  font-size: xx-large;
  font-weight: bolder;
}

.all-tasks {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #ffffff), color-stop(60%, #3340f7));
  background: linear-gradient(#ffffff 40%, #3340f7 60%);
  display: block;
  padding: 20px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid yellowgreen;
  border-radius: 25px;
}

@media screen and (min-width: 768px) {
  .all-tasks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 50px 75px;
  }
}

@media screen and (min-width: 1200px) {
  .all-tasks {
    padding: 100px 150px;
  }
}

.tasks {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px groove yellowgreen;
  border-radius: 25px;
}

@media screen and (min-width: 768px) {
  .tasks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.item {
  display: block;
  padding: 15px 30px;
}

.headings {
  margin-bottom: 20px;
}

.task-list {
  border-radius: 25px;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: blueviolet;
  color: #ffffff;
}

.task-list:not(:last-child) {
  margin-right: 10px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .task-list:not(:last-child) {
    margin-bottom: 0;
  }
}

.task-links {
  display: block;
  padding: 5px 10px;
  border-radius: 25px;
  border: 1px solid transparent;
  color: black;
}

.task-links:hover, .task-links:focus {
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(92, 105, 221, 0.514);
  color: #001aff;
}

@media screen and (min-width: 480px) {
  .task-links {
    padding: 5px 20px;
    border-radius: 25px;
  }
}

@media screen and (min-width: 768px) {
  .task-links {
    padding: 5px 25px;
    border-radius: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .task-links {
    padding: 30px 20px;
    border-radius: 25px;
  }
}

.ingretients-tasks {
  display: block;
}

.ingretients-tasks:not(:last-child) {
  margin-bottom: 10px;
}

.tasks,
.all-tasks,
.task-list,
.home-btn,
.task-links,
.headings,
.category-list,
.ingretients-tasks,
.img-gallery {
  list-style: none;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial";
  font-size: large;
  font-weight: bold;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-right: 25px;
    padding-left: 25px;
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.main-section {
  padding: 60px 0px;
}

@media screen and (min-width: 1200px) {
  .main-section {
    padding: 0px;
  }
}

.btn.task-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 30%;
  height: 50px;
  border: solid transparent;
  border-radius: 25px;
  padding: 10px 28px;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #19b105;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn.task-links:hover, .btn.task-links:focus {
  cursor: pointer;
  background-color: rgba(80, 230, 113, 0.514);
  color: #001aff;
}

@media screen and (min-width: 1200px) {
  .btn.task-links {
    width: 50%;
  }
}

.hero-title {
  text-align: center;
  text-transform: uppercase;
  font-size: xx-large;
  font-weight: bolder;
}

.all-tasks {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #ffffff), color-stop(60%, #3340f7));
  background: linear-gradient(#ffffff 40%, #3340f7 60%);
  display: block;
  padding: 20px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid yellowgreen;
  border-radius: 25px;
}

@media screen and (min-width: 768px) {
  .all-tasks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 50px 75px;
  }
}

@media screen and (min-width: 1200px) {
  .all-tasks {
    padding: 100px 150px;
  }
}

.tasks {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px groove yellowgreen;
  border-radius: 25px;
}

@media screen and (min-width: 768px) {
  .tasks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.item {
  display: block;
  padding: 15px 30px;
}

.headings {
  margin-bottom: 20px;
}

.task-list {
  border-radius: 25px;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: blueviolet;
  color: #ffffff;
}

.task-list:not(:last-child) {
  margin-right: 10px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .task-list:not(:last-child) {
    margin-bottom: 0;
  }
}

.task-links {
  display: block;
  padding: 5px 10px;
  border-radius: 25px;
  border: 1px solid transparent;
  color: black;
}

.task-links:hover, .task-links:focus {
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(92, 105, 221, 0.514);
  color: #001aff;
}

@media screen and (min-width: 480px) {
  .task-links {
    padding: 5px 20px;
    border-radius: 25px;
  }
}

@media screen and (min-width: 768px) {
  .task-links {
    padding: 5px 25px;
    border-radius: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .task-links {
    padding: 30px 20px;
    border-radius: 25px;
  }
}

.ingretients-tasks {
  display: block;
}

.ingretients-tasks:not(:last-child) {
  margin-bottom: 10px;
}

.img-gallery {
  display: block;
}

@media screen and (min-width: 768px) {
  .img-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-right: 25px;
    padding-left: 25px;
    width: 768px;
    margin: -20px;
  }
}

@media screen and (min-width: 1200px) {
  .img-gallery {
    width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.images {
  contain: content;
  margin: 20px;
}

@media screen and (min-width: 768px) {
  .images {
    width: calc((100% - 6 * 20px) / 3);
  }
}

.tasks,
.all-tasks,
.task-list,
.home-btn,
.task-links,
.headings,
.category-list,
.ingretients-tasks,
.img-gallery {
  list-style: none;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial";
  font-size: large;
  font-weight: bold;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-right: 25px;
    padding-left: 25px;
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.main-section {
  padding: 60px 0px;
}

@media screen and (min-width: 1200px) {
  .main-section {
    padding: 0px;
  }
}

.btn.task-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 30%;
  height: 50px;
  border: solid transparent;
  border-radius: 25px;
  padding: 10px 28px;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #19b105;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn.task-links:hover, .btn.task-links:focus {
  cursor: pointer;
  background-color: rgba(80, 230, 113, 0.514);
  color: #001aff;
}

@media screen and (min-width: 1200px) {
  .btn.task-links {
    width: 50%;
  }
}

.hero-title {
  text-align: center;
  text-transform: uppercase;
  font-size: xx-large;
  font-weight: bolder;
}

.all-tasks {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #ffffff), color-stop(60%, #3340f7));
  background: linear-gradient(#ffffff 40%, #3340f7 60%);
  display: block;
  padding: 20px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid yellowgreen;
  border-radius: 25px;
}

@media screen and (min-width: 768px) {
  .all-tasks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 50px 75px;
  }
}

@media screen and (min-width: 1200px) {
  .all-tasks {
    padding: 100px 150px;
  }
}

.tasks {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px groove yellowgreen;
  border-radius: 25px;
}

@media screen and (min-width: 768px) {
  .tasks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.item {
  display: block;
  padding: 15px 30px;
}

.headings {
  margin-bottom: 20px;
}

.task-list {
  border-radius: 25px;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: blueviolet;
  color: #ffffff;
}

.task-list:not(:last-child) {
  margin-right: 10px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .task-list:not(:last-child) {
    margin-bottom: 0;
  }
}

.task-links {
  display: block;
  padding: 5px 10px;
  border-radius: 25px;
  border: 1px solid transparent;
  color: black;
}

.task-links:hover, .task-links:focus {
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(92, 105, 221, 0.514);
  color: #001aff;
}

@media screen and (min-width: 480px) {
  .task-links {
    padding: 5px 20px;
    border-radius: 25px;
  }
}

@media screen and (min-width: 768px) {
  .task-links {
    padding: 5px 25px;
    border-radius: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .task-links {
    padding: 30px 20px;
    border-radius: 25px;
  }
}

.ingretients-tasks {
  display: block;
}

.ingretients-tasks:not(:last-child) {
  margin-bottom: 10px;
}

.counter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.counterBtn {
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: blueviolet;
}

@media screen and (min-width: 480px) {
  .counterBtn {
    font-size: 20px;
    width: 50px;
    height: 35px;
  }
}

@media screen and (min-width: 768px) {
  .counterBtn {
    font-size: 30px;
    width: 100px;
    height: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .counterBtn {
    font-size: 40px;
    border-radius: 30px;
    width: 200px;
    height: 100px;
  }
}

.value {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
}

@media screen and (min-width: 768px) {
  .value {
    font-size: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .value {
    font-size: 100px;
  }
}

.strainger {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.greeting {
  display: block;
  border: 1px solid violet;
  border-radius: 25px;
  padding: 15px 20px;
  text-align: center;
}

.tasks,
.all-tasks,
.task-list,
.home-btn,
.task-links,
.headings,
.category-list,
.ingretients-tasks,
.img-gallery {
  list-style: none;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial";
  font-size: large;
  font-weight: bold;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-right: 25px;
    padding-left: 25px;
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.main-section {
  padding: 60px 0px;
}

@media screen and (min-width: 1200px) {
  .main-section {
    padding: 0px;
  }
}

.btn.task-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 30%;
  height: 50px;
  border: solid transparent;
  border-radius: 25px;
  padding: 10px 28px;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #19b105;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn.task-links:hover, .btn.task-links:focus {
  cursor: pointer;
  background-color: rgba(80, 230, 113, 0.514);
  color: #001aff;
}

@media screen and (min-width: 1200px) {
  .btn.task-links {
    width: 50%;
  }
}

.hero-title {
  text-align: center;
  text-transform: uppercase;
  font-size: xx-large;
  font-weight: bolder;
}

.all-tasks {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #ffffff), color-stop(60%, #3340f7));
  background: linear-gradient(#ffffff 40%, #3340f7 60%);
  display: block;
  padding: 20px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid yellowgreen;
  border-radius: 25px;
}

@media screen and (min-width: 768px) {
  .all-tasks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 50px 75px;
  }
}

@media screen and (min-width: 1200px) {
  .all-tasks {
    padding: 100px 150px;
  }
}

.tasks {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px groove yellowgreen;
  border-radius: 25px;
}

@media screen and (min-width: 768px) {
  .tasks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.item {
  display: block;
  padding: 15px 30px;
}

.headings {
  margin-bottom: 20px;
}

.task-list {
  border-radius: 25px;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: blueviolet;
  color: #ffffff;
}

.task-list:not(:last-child) {
  margin-right: 10px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .task-list:not(:last-child) {
    margin-bottom: 0;
  }
}

.task-links {
  display: block;
  padding: 5px 10px;
  border-radius: 25px;
  border: 1px solid transparent;
  color: black;
}

.task-links:hover, .task-links:focus {
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(92, 105, 221, 0.514);
  color: #001aff;
}

@media screen and (min-width: 480px) {
  .task-links {
    padding: 5px 20px;
    border-radius: 25px;
  }
}

@media screen and (min-width: 768px) {
  .task-links {
    padding: 5px 25px;
    border-radius: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .task-links {
    padding: 30px 20px;
    border-radius: 25px;
  }
}

.ingretients-tasks {
  display: block;
}

.ingretients-tasks:not(:last-child) {
  margin-bottom: 10px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
/*# sourceMappingURL=main.css.map */