@import "./basis";

.img-gallery {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    padding-right: 25px;
    padding-left: 25px;
    width: 768px;
    margin: -20px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
.images {
  contain: content;
  margin: 20px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 6 * 20px) / 3);
  }
}
